<div class="row">
  <div class="col-sm-3">
    <button class="btn btn-success" (click) = "onNewrecipe()">New Recipe</button>
  </div>
  <!-- <div class="col-sm-6">
<input type="text" [(ngModel)] ="filteredStatus" placeholder="search text goes here" class="form-control">
</div>
<!-- <div class="col-sm-3">
<button class="btn btn-primary" (click) ="onRecipeSearch()">Search</button>
  </div> -->

</div>
<hr>
<div class="row">
  <div class="col xl 12">
<!-- *ngFor="let recipeEl of recipes | recipesearch: filteredStatus :'name' ; let i = index" -->
    <app-recipe-item

    *ngFor="let recipeEl of recipes | recipesearch: filteredStatus :'name' ; let i = index"
    [recipe]='recipeEl'
    [index]='i'>
  </app-recipe-item>
    <!-- (recipeselected)= "onrecipeselected(recipeEl)"></app-recipe-item> -->

  </div>
</div>

